/* line 14, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#img-nav {
  width: 1.5em;
}

/* line 17, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.pop {
  width: 23%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 23, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.paula {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 29, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
h1 {
  font-family: "courier-std", monospace;
  font-weight: 600 !important;
  padding-bottom: 1.25em;
}

/* line 35, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
nav a {
  font-family: "courier-std", monospace;
  color: #E31E24;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1em;
}

/* line 42, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
nav a:hover {
  color: #30474A;
}

/* line 48, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
header p {
  background-color: #E31E24;
  color: white;
  text-align: center;
  padding: 2em 4em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.8em;
}

@media (min-width: 993px) {
  /* line 48, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  header p {
    padding: 2.5em 10em;
  }
}

/* line 63, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
footer {
  text-align: center;
}

/* line 66, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
footer img {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 2em;
}

/* line 72, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
h2 {
  font-family: "Spartan", sans-serif;
}

/* line 77, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
footer h3 {
  color: #DEB841;
  font-size: 1em;
  font-family: "Spartan", sans-serif;
}

/* line 85, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.carousel img {
  height: 20em;
  width: 20em;
}

/* line 91, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.balloon {
  padding-bottom: 2.5em;
}

/* line 93, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.balloon ul {
  list-style-type: none;
  margin-right: 0;
  margin-left: 0;
  padding: .75em;
}

/* line 100, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.balloon ul li {
  color: #705D56;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

/* line 107, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.balloon h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* line 113, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.balloon h1 {
  color: #58A4B0;
}

/* line 117, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.inner {
  border: 0.1em #58A4B0 solid;
  padding: 1em;
  border-radius: 1.5625em;
  position: relative;
}

@media (min-width: 567px) {
  /* line 125, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #occasions {
    padding-bottom: 4.8em;
  }
}

@media (min-width: 993px) {
  /* line 130, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #holidays {
    padding-bottom: 12.9em;
  }
}

/* line 135, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.yellow {
  position: absolute;
  top: 17.875em;
  left: 14.5em;
  width: 20%;
}

@media (min-width: 993px) {
  /* line 135, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .yellow {
    top: 20.875em;
    left: 11.5em;
  }
}

/* line 145, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.red {
  position: absolute;
  top: 22.875em;
  left: 20.5em;
  width: 20%;
}

@media (min-width: 993px) {
  /* line 145, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .red {
    top: 24.875em;
    left: 16.5em;
  }
}

/* line 161, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.gallery {
  background-color: #58A4B0;
  padding-bottom: 6em;
  padding-top: 3em;
}

/* line 165, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.gallery h1 {
  color: white;
}

@media (max-width: 768px) {
  /* line 171, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .carousel-inner .carousel-item > div {
    display: none;
  }
  /* line 174, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

/* line 179, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (max-width: 768px) {
  /* line 203, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .carousel-inner .carousel-item > div {
    display: none;
  }
  /* line 206, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

/* line 211, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  /* line 220, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  /* line 225, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

/* line 231, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

/* line 238, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.about {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  position: relative;
}

/* line 247, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.about h1 {
  color: #705D56;
}

/* line 250, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.about h2 {
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  color: #705D56;
  font-size: 0.1 0.1em;
}

@media (max-width: 768px) {
  /* line 250, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  .about h2 {
    text-align: center;
    margin-top: 1em;
  }
}

/* line 263, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.about p {
  font-family: "Spartan", sans-serif;
  color: #705D56;
}

/* line 270, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.blue {
  position: absolute;
  top: 18.875em;
  left: 67.5em;
  width: 7%;
}

/* line 279, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.contact {
  background-color: #FFECE4;
  padding-bottom: 3em;
  padding-top: 3em;
  margin-bottom: 2em;
}

/* line 284, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
.contact h1 {
  color: #E31E24;
}

/* line 288, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
form {
  padding-left: 8em !important;
}

/* line 290, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
form p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* line 294, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
form input {
  border: .05em black solid;
}

/* line 298, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

/* line 303, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#name {
  width: 15.55em;
}

@media (min-width: 386px) {
  /* line 303, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #name {
    margin-right: 3em;
  }
}

@media (min-width: 540px) {
  /* line 303, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #name {
    width: 22.55em;
  }
}

@media (min-width: 768px) {
  /* line 303, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #name {
    width: 13.55em;
    margin-right: 2em;
  }
}

/* line 319, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#email {
  width: 15.8em;
}

@media (min-width: 540px) {
  /* line 319, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #email {
    width: 22.8em;
  }
}

@media (min-width: 768px) {
  /* line 319, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #email {
    width: 15.8em;
  }
}

@media (min-width: 993px) {
  /* line 319, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #email {
    margin-right: 2em;
    width: 13.8em;
  }
}

/* line 333, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#number {
  width: 10.8em;
}

@media (min-width: 540px) {
  /* line 333, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #number {
    width: 17.8em;
    margin-right: 3em;
  }
}

@media (min-width: 768px) {
  /* line 333, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #number {
    width: 8.8em;
    margin-right: 2em;
  }
}

@media (min-width: 993px) {
  /* line 333, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #number {
    width: 7.7em;
  }
}

@media (min-width: 1200px) {
  /* line 333, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #number {
    margin-right: 6em;
  }
}

/* line 352, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#Occasion {
  width: 13.3em;
}

@media (min-width: 540px) {
  /* line 352, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #Occasion {
    width: 20.3em;
  }
}

@media (min-width: 768px) {
  /* line 352, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #Occasion {
    width: 13.3em;
  }
}

@media (min-width: 993px) {
  /* line 352, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #Occasion {
    width: 11.3em;
    margin-right: 2em;
  }
}

/* line 367, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#balloons {
  width: 12em;
}

@media (min-width: 540px) {
  /* line 367, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #balloons {
    width: 18.9em;
  }
}

@media (min-width: 768px) {
  /* line 367, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #balloons {
    width: 9.9em;
    margin-right: 2em;
  }
}

@media (min-width: 993px) {
  /* line 367, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #balloons {
    width: 9.9em;
    margin-right: 2em;
  }
}

/* line 385, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#date {
  width: 12em;
}

@media (min-width: 398px) {
  /* line 385, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #date {
    margin-right: 4em;
  }
}

@media (min-width: 540px) {
  /* line 385, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #date {
    width: 19em;
  }
}

@media (min-width: 768px) {
  /* line 385, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #date {
    width: 12em;
    margin-right: 4em;
  }
}

@media (min-width: 993px) {
  /* line 385, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #date {
    width: 8.9em;
  }
}

@media (min-width: 1200px) {
  /* line 385, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #date {
    margin-right: 8em;
  }
}

/* line 405, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#budget {
  width: 8em;
}

/* line 409, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
#submit {
  margin-left: .6em;
  color: white;
  background-color: #E31E24;
  border: none;
  font-family: "courier-std", monospace;
  font-weight: 600;
  width: 6em;
  height: 1.8em;
}

@media (min-width: 540px) {
  /* line 409, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #submit {
    margin-left: 7.6em;
  }
}

@media (min-width: 768px) {
  /* line 409, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #submit {
    margin-left: 19.6em;
  }
}

@media (min-width: 993px) {
  /* line 409, ../Users/arh00/Creative Cloud Files/FREELANCE/Paula Carter/website/Paula-pop-balloon/css/sass/styles.scss */
  #submit {
    margin-left: 35.7em;
  }
}

/*# sourceMappingURL=styles.css.map */