$sm: 567px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$spart: 'Spartan', sans-serif;
$mont:'Montserrat', sans-serif;
$red: #E31E24;
$blue:#58A4B0;
$yellow:#DEB841;
$dark:#30474A;
$purp:#705D56;


.pop{
  width:23%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.paula{
  width:70%;
}
nav{
a{
  font-family: $mont;
  color:$red;
  font-weight:600;
}
}

header{
  p{
    background-color: $red;
    color:white;
    text-align: center;
@media(min-width: $lg){
    padding: 2.5em 10em;}
    padding: 2em 4em;
    font-family: $mont;
    font-weight:500;
    line-height:1.8em


  }
}

footer {
  text-align: center;

  img {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 2em;
  }
}
h2{
  font-family:$spart;
}

.bg-gold {
  background: linear-gradient(5deg, $blue 77%, #ffff 60%);
  }

  .bg-blue{
    background: linear-gradient(5deg, $blue 77%, #ffff 60%);
    }
footer{
h3{
  color:$yellow;
}
}

.carousel{
  img{
    height:20em;
  width:20em;
  }

}
.balloon{
  ul{
    list-style-type: none;

      margin-right:0;
      margin-right: 0;
        padding: .75em;

        li{
          color:$purp;
        align-items: center;
        font-family: $mont;
        font-size: .95em;
        }
  }
  h3{
    text-align: center;
  }
}
.inner{
  border: .1em $blue solid;
  padding:1em;
   border-radius: 1.5625em;

}
